<!DOCTYPE html>
<html ng-app='todoapp'>
<head>
  <meta name ="description" content="Angular Todo List" />
  <meta charset="utf-8" />
  <title>To Do App</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script type="text/javascript" src="script.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<script src='https://cdn.firebase.com/v0/firebase.js'></script>
<script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="TodoCtrl">

  <div class='container'>
    
      <h1 class='list-group-item title'>Coding Punch-Out List:</h1>

      <!-- List of todos -->
      <div ng-repeat="todo in todos" class='list-group-item'>
          <input type="checkbox" ng-model="todo.done"/>
          <input type="text" ng-model="todo.text" class='todo'/>
          <a href="" ng-click="move($index, 'up')"><span class='glyphicon glyphicon-arrow-up'></span></a>
          <a href="" ng-click="move($index, 'down')"><span class='glyphicon glyphicon-arrow-down'></span></a>
          <a href="" ng-click="removeTodo($index)"><span class='glyphicon glyphicon-remove-circle'></span></a>
      </div>
      <!-- Preview as you type -->
      <div class='list-group-item'>
        <input type='checkbox' disabled='true'>
        <input type='text' disabled='true'>
      </div>

      <!-- Add todo form -->
      <form ng-submit="addTodo()" class='list-group-item'>
        <input type = "text" ng-model="todoText"/>
        <input type="submit" />
      </form>
  </div>

</body>
</html>